@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url('/Pacifico.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074,
    U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html,
body {
  //color: #505050;
  font-size: 14px;
  height: 100%;
  background: $body-bg;
}

#content-wrap {
  min-height: 100%;
  margin-bottom: -$footerHeight;
}

#content-wrap:after {
  content: '';
  display: block;
}

.center-block {
  text-align: center;
}

/*footer*/

#footer,
#content-wrap:after {
  height: $footerHeight;
}

.copyright {
  height: 100%;
  background: #333;
  font-size: 13px;
  text-align: center;
  color: #aaa;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #303030;
}

@media (max-width: 768px) {
  .phone-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.bg-placeholder {
  background-image: -webkit-linear-gradient(315deg, #563d7c, $colorPrimaryDark, $colorPrimary);
  background-image: -o-linear-gradient(245deg, $colorAccent, $colorPrimaryDark, $colorPrimary);
  background-image: linear-gradient(135deg, #563d7c, $colorPrimaryDark, $colorPrimary);
}

.breadcrumb {
  background-color: #fff;
  @extend .shadow;
}

.card {
  border: none;
  border-radius: 2px;
  @extend .shadow;
}
