.main-header {
    margin-bottom: 0px;
}

.banner {
    width: 100%;
    background-color: #52768e;
}

.banner img {
    width: 100%;
    border-bottom-right-radius: 50%;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-home {
    background-color: #FFFFFF;
}

.text-dados {
    color: #563d7c;
}

.round-dados {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
    background-color: #563d7c;
}

.round-dados i {
    font-size: 130px;
    color: #FFFFFF;
}